$color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
// $color-gray: #9fb89d;
$color-black: #1F2937;
$card-size: 23rem;

.wrapping {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // background-image: linear-gradient(45deg, $color-purple, $color-pink);
  // background: url(https://img.freepik.com/free-vector/nature-forest-landscape-night-scene_1308-60924.jpg?w=1380&t=st=1657196360~exp=1657196960~hmac=c6db902d5241988f4cdc1ca801563031cc43351daf69bb792a3c79e9f6b7e0b5) no-repeat 0 30% / cover
  // background: url(https://img.freepik.com/free-vector/nature-forest-landscape-night-scene_1308-60557.jpg) no-repeat 0 30% / cover
  // background: url(https://img.freepik.com/free-vector/nature-forest-landscape-night-scene_1308-58786.jpg?w=1380) no-repeat 0 0 / cover
  // background: url(https://img.freepik.com/premium-vector/landscape-forest-river-daytime_46176-156.jpg?w=1380) no-repeat 0 bottom / cover
  // background: url(https://img.freepik.com/premium-vector/vector-images-forest-daytime_46176-155.jpg?w=1380) no-repeat 0 0 / cover
  background: url(../../../public/img/quizBg.png) no-repeat right 40% / cover
  ;
  
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: $card-size;
  height: $card-size;
  perspective: 500px;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    // translate3d( (calc(var(--offset) / var(--abs-offset) * -5rem)), 0,(calc(var(--abs-offset) * -30rem)))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--offset) / var(--abs-offset) * -5rem))
    ;
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
  
}
.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  // background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  background-color: hsl(116deg, 16%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: $color-gray;
  text-align: justify;
  transition: all 0.3s ease-out;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 0 0.7em;
    color: $color-black;
  }
  
  span, h3 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
  }

  span{
    text-align: right;
  }

  .options{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    letter-spacing:3px
  }
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  box-sizing: border-box;
  
  &.left {
    transform: translateX(-100%) translatey(-50%);
  }
  
  &.right {
    right: 0;
    transform: translateX(100%) translatey(-50%);
  }

  &.finish {
    color: rgb(227, 227, 132);
    right: -10px;
    transform: translateX(100%) translatey(-50%);
  }

  &.back{
    font-size: 3.5rem;
    top: initial;
    left: 40px;
    bottom: 40px;
    :hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}