.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:-webkit-any-link{
  color: white ;
  text-decoration: none;
  height: initial;
}

.App-logo {
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
