.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.App-logo {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: hidden;
  position:relative;
  cursor: pointer;
  background: #491818;
 border-radius: 10px;
 border: 1px solid;
 text-align:center ;
 font-weight: bold;
margin: 5px;
opacity: 0.5;
}


a:-webkit-any-link{
  color: white ;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
