* {cursor: url(../public/img/cursor.png), auto ;} 

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  display: none;
}

.App-logo {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  position:relative;
  cursor: pointer;
  background: #491818;
  border: 1px solid;
  text-align:center ;
  font-weight: bold;
  margin: 5px;
  opacity: 0.5;
  box-sizing: content-box;
}

.newline{
  white-space: pre-wrap;
}

a:-webkit-any-link{
  color: white ;
  text-decoration: none;
}

.react-joyride__beacon > span{
  background-color: #03a9f4 !important;
}

.react-joyride__beacon span + span{
  border: 2px solid #03a9f4 !important;
  background-color:initial !important;
  cursor: pointer;
}
